/* defaults */

@font-face {font-family: 'handwriting'; src: url('../fonts/handwriting.ttf') format('truetype'),}

.bk_img {
	background-size: cover;
	background-attachment: local;
}

body {
	font-family: 'handwriting', cursive;
	overflow-x: hidden;
	background-image: url(../img/graph-background.jpg);
	background-repeat: repeat-y;
	/* color: #eee; */
	
}

a, a:hover {
	text-decoration: none;
}

a:hover {
	color: green;
}

li {
	list-style-type: none;
}

#home span {
	text-decoration: line-through;
}

/* end of defaults */

::grammar-error {
	color: green;
}

aside {
	position: sticky;
	top: 10px;
	left: 0;
	width: 144px;
	margin-left: 7px;
	z-index: 10;
	display: flex;
	align-content: center;
	flex-direction: column;
	height: auto;
	background-image: url(../img/blue-suede.jpg);
	border-radius: 17px;
}

/* #home stuff and  kitty can */

#home {
	width: 100%;
	margin-top: 20px;
}

#home > div {
	height: 100vh;
}

#home > div:nth-child(1) {
	background-image: url(../img/my-genealogy.png);
}

#home > div:nth-child(2) {
	background-position: top center;
	background-image: url(../img/pet-store.png);
	/* color: #eee; */
}

#home > div:nth-child(3) {
	background-position: top right;
	background-image: url(../img/restaurante.png);
	color: #000;
}

/* #contact stuff */

#contact {
	height: 100vh;
}

.contact_bottom {
	background-image: url(../img/DD-Grunge-Texture-20103-Preview.jpg);
	/* img from www.vecteezy.com */
	background-repeat: no-repeat;
	color: #eee;
	filter: invert(80%);
}

.requiredStar {
	color: #639;
	content: '*';
}

#about {
	background-image: url(../img/pexels-photo-953214.jpeg);
}