/* defaults */

@font-face {font-family: 'handwriting'; src: url('../fonts/handwriting.ttf') format('truetype'),}

.bk_img {
	background-size: cover;
	background-attachment: local;
}

.bk_img1 {
	background-image: url(../img/blue-suede.jpg);
}

.blur {
	filter: blur(1px);
}

.invert {
	filter: invert(100%)
}

body {
	font-family: 'handwriting', cursive;
	overflow-x: hidden;
	background-image: url(../img/graph-background.jpg);
	background-repeat: repeat-y;
	color: #eee;
	
}

a, a:hover {
	text-decoration: none;
}

a:hover {
	color: green;
}

li {
	list-style-type: none;
}

.strikethrough {
	text-decoration: line-through;
}

/* end of defaults */

::grammar-error {
	color: green;
}

.wrap_x {
	width: 100vw;
	background-image: url();
}

.wrap_x:nth-child(1) {
	background-image: url('../img/My genealogy.png');
}

.wrap_x:nth-child(2) {
	background-image: url('../img/Restaurante.png');
	color: #000;
}

.wrap_x:nth-child(3) {
	background-image: url('../img/Restaurante.png');
	color: #000;
}

.wrap {
	height: 100vh;
	margin-left: 144px;
}

aside {
	position: sticky;
	top: 10px;
	left: 0;
	width: 144px;
}

.aside-inner {
	display: flex;
	align-content: center;
	flex-direction: column;
	height: auto;

}

/* #home stuff and  kitty can */

#home {
	display: flex;
}

/* #contact stuff */

.contact_bottom {
	background-image: url(../img/psychedelic.jpg);
	background-repeat: no-repeat;
}

.requiredStar {
	color: #639;
	content: '*';
}
